{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block content %}
    <div class="myChallenge-wrapper notifications-wrapper">
        {#<div class="container">#}
            <div class="notifications-container">
            <h2 class="secondHeading">Notifications:</h2>
            <table class="table">
                <thead>
                <tr>
                    <th class="tableTitle w-50">Description</th>
                    <th class="tableTitle">Received on</th>
                    <th class="tableTitle">Read on</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for notification in notifications %}

                    {% if not notification.isRead %}
                        <tr class="newNotification">
                    {% else %}
                        <tr>
                    {% endif %}

                    <td class="tableContent w-50">{{ notification.description }}</td>
                    <td class="tableContent">{{ notification.createdOn|date('Y-m-d H:i:s') }}</td>
                    <td class="tableContent">
                        {% if not notification.isRead %}
                            <a class="btn-ghost" href="{{ path('mark_notification_as_read', {'id': notification.id}) }}">Check in</a>
                        {% elseif notification.readOn %}
                            {{ notification.readOn|date('Y-m-d H:i:s') }}
                        {% endif %}
                    </td>
                    {% if notification.challenge %}
                        <td class="tableContent">
                            <a class="btn-ghost" href="{{ path('join_in_challenge', {'id': notification.challenge.id}) }}">Join in</a>
                        </td>
                    {% endif %}
                        <td class="tableContent">
                            <a class="btn-ghost" href="{{ path('challenge_details', {'id': notification.challenge.id}) }}">Details</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {#</div>#}
    </div>
{% endblock %}
