{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-custom">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="account-wall">
    <div class="user-block">
        <svg class="user-icon">
            <use xlink:href="{{ asset('images/sprite.svg#icon-group') }}"></use>
        </svg>
    </div>
    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}

        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
               required="required" autocomplete="username" autofocus placeholder="Username"/>

        <input class="form-control" type="password" id="password" name="_password" required="required"
               autocomplete="current-password" placeholder="Password"/>

        <input class="btn btn-lg btn-block" type="submit" id="_submit" name="_submit"
               value="{{ 'Sign in' }}"/>

        <label class="checkbox float-left-left" for="remember_me">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            {{ 'security.login.remember_me'|trans }}
        </label>
    </form>
</div>
<a  class="text-center new-account" href="{{ path('fos_user_registration_register') }}">Not a member? Create an account! </a>

