{% trans_default_domain 'FOSUserBundle' %}

<div class="myChallenge-wrapper">
    <div class="welcomePage__text-box">
        <h1 class="mainHeading"><span class="sp-1">Profile info!</span><br>
            <span class="sp-3">{{ 'profile.show.username'|trans }}: {{ user.username }}</span><br>
            <span class="sp-3">{{ 'profile.show.email'|trans }}: {{ user.email }}</span>
        </h1>

        <a class="btn w-50" href="{{ path('fos_user_profile_edit') }}">Edit</a>

    </div>
</div>


