{% trans_default_domain 'FOSUserBundle' %}


<div class="account-wall">
    <img class="profile-img"
         src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
         alt="user foto">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    <div class="form-signin" id="fos_user_registration_form">
        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'autofocus': 'true','placeholder': 'form.email'|trans } }) }}
        {{ form_errors(form.email) }}

        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}
        {{ form_errors(form.username) }}

        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
        {{ form_errors(form.plainPassword.first) }}

        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
        {{ form_errors(form.plainPassword.second) }}       



        <input class="btn btn-lg btn-block mb-2" type="submit" id="_submit" name="_submit"
               value="{{ 'registration.submit'|trans }}"/>

        <a href="#" class="float-right need-help">Need help? </a><span class="clearfix"></span>

    </div>
</div>
<a class="text-center new-account" href="{{ path('fos_user_registration_register') }}">Create an account </a>


{{ form_end(form) }}

{#<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">#}
    {##}
    {#<div>#}
        {#<input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ 'registration.submit'|trans }}">#}
    {#</div>#}
{#</form>#}


