{% extends 'base.html.twig' %}


{% block title %}Hello {{ app.user.username }} - invite others!{% endblock %}

{% block content %}

    <div class="myChallenge-wrapper new-milestone">
        <div class="formBlock">
            <div class="formHead">
                <h1 class="formTitle text-left">Comment</h1>
            </div>


            {{ form_start(form) }}

            <div class="formBody">
                <div class="formRow">
                    <div class="formLabel">
                        {{ form_label(form.text) }}
                    </div>
                    <div class="formControl">
                        {{ form_widget(form.text, { 'attr': {
                            'class': 'formInput',
                            'autofocus': 'true',
                            'placeholder':'Comment Text'
                        } }) }}
                        {{ form_errors(form.text) }}
                    </div>
                </div>
            </div>

            <div class="formFooter ">
                <a class="btn" href="{{ path('challenge_details', {'id': challengeId}) }}"><< Back</a>
                <input class="btn" type="submit" id="_submit" name="_submit" value="{{ 'Comment' }}"/>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}