<div class="card-body body-bg d-flex align-items-top">
    {% if challenge.isPublic %}
        <div class="card-groupTitle card-groupTitle--public js-type">Public Challenge</div>
    {% else %}
        <div class="card-groupTitle card-groupTitle--private js-type">Private Challenge</div>
    {% endif %}
    <div class="card-body__textBlock">

        <h4 class="card-title z-index--10 js-name">{{ challenge.title }}</h4>
        <p class="card-text z-index--10 js-description">{{ challenge.description }}</p>

        {% for challengeGroup in challenge.challengeGroup %}
            <span class="card-tags {% if not challenge.isPublic %}card-tags--public {% else %}card-tags--private{% endif %}"> {{ challengeGroup.groupName }} </span>
        {% endfor %}


    </div>
    <div class="card-body__dateBlock text-right">
        <div class="z-index--10"><span class="mr-2 ">Start:</span><span class="dateStart">{{ challenge.startDate|date('Y-m-d') }}</span>
        </div>
        <div class="z-index--10"><span class="mr-2 ">End:</span><span class="dateEnd">{{ challenge.endDate|date('Y-m-d') }}</span>
        </div>
    </div>
</div>