<header class="header">
    <a href="{{ path('home') }}">
        <img class="iL-logoImg" src="{{ asset('images/logo.png') }}" alt="logo"/>
    </a>
    {{ render(controller(
        'App\\Controller\\SearchController::searchBarAction'
    )) }}

    <nav class="user-nav">
        {% if is_granted('ROLE_USER') %}
            {{ render(controller(
                'App\\Controller\\NotificationController::getNotificationCount'
            )) }}

            {#<div class="user-nav__icon-box">#}
            {#<svg class="user-nav__icon">#}
            {#<use xlink:href="{{ asset('images/sprite.svg#icon-chat') }}"></use>#}
            {#</svg>#}
            {#<span class="user-nav__notification">13</span>#}
            {#</div>#}
            <a href="{{ path('fos_user_profile_show') }}">
                <div class="user-nav__user">
                    <img src="{{ asset('images/user.jpg') }}" alt="user photo" class="user-nav__user-photo">
                    <span class="user-nav__user-name">{{ app.user.username }}</span>
                </div>
            </a>
        {% endif %}

        <div class="user-nav__icon-box">
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('fos_user_security_logout') }}">
                    <div class="user-nav__icon-box">
                        <svg class="user-nav__icon">
                            <use xlink:href="{{ asset('images/sprite.svg#logout') }}"></use>
                        </svg>
                    </div>
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">
                    <div class="user-nav__icon-box">
                        <svg class="user-nav__icon">
                            <use xlink:href="{{ asset('images/sprite.svg#login') }}"></use>
                        </svg>
                    </div>
                </a>

            {% endif %}
        </div>
    </nav>
</header>
<div class="header-fluid"></div>