<header class="header">
    <a href="{{ path('my_challenges') }}">
        <img class="logoImg" src="{{ asset('images/logo.png') }}" alt="logo"/>
    </a>
    {{ render(controller(
        'App\\Controller\\SearchController::searchBarAction'
    )) }}

    <nav class="user-nav">
        {% if is_granted('ROLE_USER') %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('new_challenge_group_form') }}" class="user-nav__link">
                    <div class="user-nav__icon-box btn-nav">
                        <svg class="user-nav__icon user-nav__icon--sm">
                            <use xlink:href="{{ asset('images/sprite.svg#icon-group') }}"></use>
                        </svg>
                        <span class="btn-nav--topText btn-nav--text">Add new</span>
                        <span class="btn-nav--btmText btn-nav--text">Group</span>
                    </div>
                </a>
            {% endif %}
            <a href="{{ path('new_challenge_form') }}" class="user-nav__link">
                <div class="user-nav__icon-box btn-nav">
                    <svg class="user-nav__icon user-nav__icon--sm">
                        <use xlink:href="{{ asset('images/sprite.svg#icon-plus') }}"></use>
                    </svg>
                    <span class="btn-nav--topText btn-nav--text">Add new</span>
                    <span class="btn-nav--btmText btn-nav--text">Challenge</span>
                </div>
            </a>
            
            {{ render(controller(
                'App\\Controller\\NotificationController::getNotificationCount'
            )) }}

            {#<div class="user-nav__icon-box">#}
            {#<svg class="user-nav__icon">#}
            {#<use xlink:href="{{ asset('images/sprite.svg#icon-chat') }}"></use>#}
            {#</svg>#}
            {#<span class="user-nav__notification">13</span>#}
            {#</div>#}
            <a href="{{ path('fos_user_profile_show') }}">
                <div class="user-nav__user">
                    <img src="{{ asset('images/user.jpg') }}" alt="user photo" class="user-nav__user-photo">
                    <span class="user-nav__user-name">{{ app.user.username }}</span>
                </div>
            </a>
            <a href="{{ path('fos_user_security_logout') }}" class="user-nav__link">
                <div class="user-nav__icon-box">
                    <svg class="user-nav__icon mt--1">
                        <use xlink:href="{{ asset('images/sprite.svg#logout') }}"></use>
                    </svg>
                    <span class="btn-nav--btmText1">Log out</span>
                </div>
            </a>
        {% endif %}

    </nav>
</header>
<div class="header-fluid"></div>