<li class="list-group-item d-flex align-items-center{% if milestoneUserStatus.failed %} isFailed {% elseif milestoneUserStatus.submittedOn != null %} isCompleted {% endif %}">
    <h5 class="card-subtitle customCard-subtitle">{{ milestone.title }}</h5>
    <div class="milestone-statusBlock">
        {% if milestoneUserStatus.submittedOn != null %}

            <div class="date-subtitle">
                {% if milestoneUserStatus.failed and milestoneUserStatus.user == app.user %}
                    <span class="d-block">Failed on:<br>{{ milestoneUserStatus.submittedOn|date('Y-m-d H:i') }} </span>
                {% elseif milestoneUserStatus.completed and milestoneUserStatus.user == app.user %}
                    <span class="d-block">Completed on:<br>{{ milestoneUserStatus.submittedOn|date('Y-m-d H:i') }} </span>
                {% endif %}
            </div>
        {% endif %}

        {% if not milestoneUserStatus.completed and not milestoneUserStatus.failed%}
            <a class="milestone-statusLink"
               href="{{ path('complete_milestone', {'id': milestone.id}) }}">
                <svg class="milestone-statusIcon">
                    <use xlink:href="{{ asset('images/sprite.svg#icon-checkmark') }}"></use>
                </svg>
                <span class="milestone-statusLabel">Done</span>
            </a>
            <a class="milestone-statusLink"
               href="{{ path('failed_milestone', {'id': milestone.id}) }}">
                <svg class="milestone-statusIcon">
                    <use xlink:href="{{ asset('images/sprite.svg#icon-cross') }}"></use>
                </svg>
                <span class="milestone-statusLabel">Give up</span>
            </a>
            <a class="milestone-statusLink"
               href="{{ path('remove_milestone', {'id': milestone.id}) }}">
                <svg class="milestone-statusIcon">
                    <use xlink:href="{{ asset('images/sprite.svg#icon-bin') }}"></use>
                </svg>
                <span class="milestone-statusLabel">Remove</span>
            </a>
        {% endif %}

    </div>
</li>
