<li class="list-group-item d-flex align-items-center">
    <h5 class="card-subtitle customCard-subtitle">{{ milestone.title }}</h5>
    <div class="milestone-statusBlock">

        {% if milestone.public %}
            <a class="milestone-statusLink"
               href="{{ path('complete_milestone', {'id': milestone.id}) }}">
                <svg class="milestone-statusIcon">
                    <use xlink:href="{{ asset('images/sprite.svg#icon-checkmark') }}"></use>
                </svg>
                <span class="milestone-statusLabel">Done</span>
            </a>
            <a class="milestone-statusLink"
               href="{{ path('failed_milestone', {'id': milestone.id}) }}">
                <svg class="milestone-statusIcon">
                    <use xlink:href="{{ asset('images/sprite.svg#icon-cross') }}"></use>
                </svg>
                <span class="milestone-statusLabel">Give up</span>
            </a>
            {% if milestone.owner == app.user %}
                <a class="milestone-statusLink"
                   href="{{ path('remove_milestone', {'id': milestone.id}) }}">
                    <svg class="milestone-statusIcon">
                        <use xlink:href="{{ asset('images/sprite.svg#icon-bin') }}"></use>
                    </svg>
                    <span class="milestone-statusLabel">Remove</span>
                </a>
            {% endif %}
        {% endif %}

    </div>
</li>
