{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <h2>Private:</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Owner</th>
            </tr>
            </thead>
            <tbody>
            {% for challenge in challenges %}
                <tr>
                    <td>{{ challenge.id }}</td>
                    <td>{{ challenge.title }}</td>
                    <td>{{ challenge.description }}</td>
                    <td>{{ challenge.startDate|date('Y-m-d') }}</td>
                    <td>{{ challenge.endDate|date('Y-m-d') }}</td>
                    <td>{{ challenge.owner }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Public:</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Public status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Owner</th>
                <th>Join challenge</th>

            </tr>
            </thead>
            <tbody>
            {% for public_challenge in publicChallenges %}
                <tr>
                    <td>{{ public_challenge.id }}</td>
                    <td>{{ public_challenge.title }}</td>
                    <td>{{ public_challenge.description }}</td>
                    <td>{{ public_challenge.isPublic }}</td>
                    <td>{{ public_challenge.startDate|date('Y-m-d') }}</td>
                    <td>{{ public_challenge.endDate|date('Y-m-d') }}</td>
                    <td>{{ public_challenge.owner }}</td>

                    {% if app.user in public_challenge.users %}
                        <td>Participating</td>
                    {% else %}
                        <td><a href="{{ path('join_in_challenge', {'id': public_challenge.id }) }}">Join In</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
