{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block content %}

    <div class="myChallenge-wrapper search-wrapper">
        <div class="cards-wrapper">

            {% for challenge in challenges %}

                <div class="card customCard">
                    <div class="card-body body-bg d-flex align-items-top">
                        <div class="card-body__textBlock">

                            <h4 class="card-title z-index--10">{{ challenge.title }}</h4>
                            <p class="card-text z-index--10">{{ challenge.description }}</p>

                            {% for challengeGroup in challenge.challengeGroup %}
                                <span class="card-tags"> {{ challengeGroup.groupName }} </span>
                            {% endfor %}
                            {% if challenge.isPublic %}
                                <span class="card-tags">Public Challenge</span>
                            {% else %}
                                <span class="card-tags">Private Challenge</span>
                            {% endif %}
                        </div>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">
                            <h5 class="card-subtitle customCard-subtitle">Start date
                                - {{ challenge.startDate|date('Y-m-d') }}</h5>
                        </li>
                        <li class="list-group-item text-center">
                            <h5 class="card-subtitle customCard-subtitle">End date
                                - {{ challenge.endDate|date('Y-m-d') }}</h5>
                        </li>
                        <li class="list-group-item text-center">
                            <h5 class="card-subtitle customCard-subtitle">Owner - {{ challenge.users|join(' ') }}</h5>
                        </li>

                    </ul>
                    <div class="card-footer justify-content-center">

                        <div class="challengeControlBlock">
                            <a class="milestone-statusLink" href="#">
                                <svg class="milestone-statusIcon">
                                    <use xlink:href="{{ asset('images/sprite.svg#icon-share2') }}"></use>
                                    <span class="milestone-statusLabel">Join</span>
                                </svg>
                            </a>
                            <a class="milestone-statusLink" href="#">
                                <svg class="milestone-statusIcon">
                                    <use xlink:href="{{ asset('images/sprite.svg#icon-commenting') }}"></use>
                                    <span class="milestone-statusLabel">Comment</span>
                                </svg>
                            </a>
                            <a class="milestone-statusLink" href="#">
                                <svg class="milestone-statusIcon">
                                    <use xlink:href="{{ asset('images/sprite.svg#icon-navigation-more') }}"></use>
                                    <span class="milestone-statusLabel">Read more</span>
                                </svg>
                            </a>
                        </div>

                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}
