{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{#{% block content %}#}
    {#<div class="myChallenge__wrapper">#}
        {#<div class="card-columns">#}
            {#{% for challenge in challenges %}#}
                {#<div class="card" style="width: 18rem;">#}
                    {#<img class="card-img-top" src="" alt="Card image cap">#}
                    {#<div class="card-body">#}
                        {#<h5 class="card-title">{{ challenge.title }}</h5>#}
                        {#<p class="card-text">{{ challenge.description }}</p>#}
                    {#</div>#}
                    {#<ul class="list-group list-group-flush">#}
                        {#<li class="list-group-item">#}
                            {#Start Date: {{ challenge.startDate|date('Y-m-d') }}#}
                        {#</li>#}
                        {#<li class="list-group-item">#}
                            {#End Date: {{ challenge.endDate|date('Y-m-d') }}#}
                        {#</li>#}
                    {#</ul>#}
                    {#<div class="card-body">#}
                        {#<a href="#" class="card-link">Open</a>#}
                        {#<a href="#" class="card-link">Edit</a>#}
                    {#</div>#}
                {#</div>#}

            {#{% endfor %}#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}

{% block content %}
    <div class="myChallenge-wrapper">
        <div class="cards-wrapper">
            {% for challenge in challenges %}
                <div class="card customCard">

                    <div class="card-body body-bg d-flex align-items-center">
                        <div class="card-body__textBlock">
                            <h4 class="card-title z-index--10">{{ challenge.title }}</h4>
                            <p class="card-text z-index--10">{{ challenge.description }}</p>
                        </div>
                        <div class="card-body__dateBlock text-right">
                            <div class="z-index--10"><span class="mr-2">Start:</span>{{ challenge.startDate|date('Y-m-d') }}</div>
                            <div class="z-index--10"><span class="mr-2">End:</span>{{ challenge.endDate|date('Y-m-d') }}</div>
                        </div>

                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex align-items-center">
                            <h5 class="card-subtitle customCard-subtitle">Millestone1 nusipirkti ispanu kalbos zodyna</h5>
                            <div class="milestone-statusBlock">
                                <div class="date-subtitle"><span class="d-block">Due Date</span> {{ challenge.endDate|date('Y-m-d') }}</div>
                            </div>

                        </li>
                        <li class="list-group-item d-flex align-items-center">
                            <h5 class="card-subtitle customCard-subtitle">Millestone1 nusipirkti ispanu kalbos zodyna</h5>
                            <div class="milestone-statusBlock">
                                <div class="date-subtitle"><span class="d-block">Due Date</span> {{ challenge.endDate|date('Y-m-d') }}</div>
                            </div>

                        </li>
                    </ul>
                    <div class="card-footer">
                        <a href="#" class="card-link">Open</a>
                        <a href="#" class="card-link">Edit</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}