{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
            <div class="card-deck">
                {% for challenge in challenges %}
                    {# FIXME REMOVE INLINE STYLE #}
                <div class="col-sm-6 col-md-3" style="width: 100%">
                    {# FIXME remove inline css#}
                    <div class="card" style="min-height: 208px">
                        <div class="card-body">
                            <h5 class="card-title">{{ challenge.title }}</h5>
                            <p class="card-text">{{ challenge.description }}</p>
                            <p class="card-text"><small class="text-muted">Start Date: {{ challenge.startDate|date('Y-m-d') }}</small></p>
                            <p class="card-text"><small class="text-muted">End Date: {{ challenge.endDate|date('Y-m-d') }}</small></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
