{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {# FIXME REMOVE INLINE STYLE #}
        <div class="card-deck" style="width: 100%">
                {% for challenge in challenges %}
                <div class="col-sm-6 col-md-3" >
                    {# FIXME remove inline css#}
                    <div class="card" style="min-height: 208px">
                        <div class="card-body">
                            <h5 class="card-title">{{ challenge.title }}</h5>
                            <p class="card-text">{{ challenge.description }}</p>
                            <p class="card-text"><small class="text-muted">Start Date: {{ challenge.startDate|date('Y-m-d') }}</small></p>
                            <p class="card-text"><small class="text-muted">End Date: {{ challenge.endDate|date('Y-m-d') }}</small></p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('edit_challenge', {'id': challenge.id }) }}">Edit</a>
                            <a href="{{ path('delete_challenge', {'id': challenge.id}) }}">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
