<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ "My project" }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
        {% block canonical_meta %}{% endblock %}
    </head>
    <body>
            <header class="header">
                <img class="iL-logoImg" src="{{ asset('images/logo.png') }}" alt="logo"/>
                <form action="#" class="search">
                    <input type="text" class="search__input" placeholder="Search Challenges">
                    <button class="search__button">
                        <svg class="search__icon">
                            <use xlink:href="{{ asset('images/sprite.svg#icon-magnifying-glass') }}"></use>
                        </svg>
                    </button>
                </form>
                <nav class="user-nav">
                    <div class="user-nav__icon-box">
                        <svg class="user-nav__icon">
                            <use xlink:href="{{ asset('images/sprite.svg#icon-bookmark') }}"></use>
                        </svg>
                        <span class="user-nav__notification">7</span>
                    </div>
                    {#<div class="user-nav__icon-box">#}
                        {#<svg class="user-nav__icon">#}
                            {#<use xlink:href="{{ asset('images/sprite.svg#icon-chat') }}"></use>#}
                        {#</svg>#}
                        {#<span class="user-nav__notification">13</span>#}
                    {#</div>#}
                    <div class="user-nav__user">
                        <img src="{{ asset('images/user.jpg') }}" alt="user photo" class="user-nav__user-photo">
                        <span class="user-nav__user-name">Viktoras</span>
                    </div>
                    <div class="user-nav__login">
                        {% if is_granted('ROLE_USER') %}
                                <a class="btn-inline" href="{{ path('fos_user_security_logout') }}">Logout</a>
                        {% else %}
                                <a class="btn-inline mr-3" href="{{ path('fos_user_registration_register') }}">Sign Up</a>
                                <a class="btn-inline" href="{{ path('fos_user_security_login') }}">Login</a>
                        {% endif %}

                    </div>

                </nav>
            </header>

        <div class="content">
            <div class="contentLeft">

            </div>
            <div class="contentRight">

            </div>

        </div>

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
