<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ "My project" }}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">

        {% block canonical_meta %}{% endblock %}
    </head>
    <body>

    {% if is_granted('ROLE_USER') %}
        {% include 'includes/header.html.twig' %}

        <div class="content">
            {#{% include 'includes/sideNav.html.twig' %}#}
            {% block content %}{% endblock %}
        </div>

        {% block javascripts %}
        <script src="{{ asset('build/js/app.js') }}"></script>
        <script src="{{ asset('//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js') }}"></script>
        {% endblock %}

    {% else %}

        <div class="wrapperLanding">
            <section class="landingPage">

                    <a href="{{ path('home') }}" class="logo">
                        <img class="logoImg" src="{{ asset('images/logo.png') }}" alt="logo">
                    </a>
                <div class="loginBlock">
                    {% if app.request.attributes.get('_route') == 'fos_user_security_login' %}
                        <a href="{{ path('fos_user_registration_register') }}" class="loginLink">
                            <span>Sign up</span>
                            <svg class="loginIcon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 32 32"> <path d="M18 22.082v-1.649c2.203-1.241 4-4.337 4-7.432 0-4.971 0-9-6-9s-6 4.029-6 9c0 3.096 1.797 6.191 4 7.432v1.649c-6.784 0.555-12 3.888-12 7.918h28c0-4.030-5.216-7.364-12-7.918z"></path></svg>
                        </a>

                     {% elseif app.request.attributes.get('_route') == 'fos_user_registration_register'%}
                         <a href="{{ path('fos_user_security_login') }}" class="loginLink">
                             <span>Sign in</span>
                             <svg class="loginIcon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16"><path d="M7 1v2l1 1v-2h7v12h-7v-2l-1 1v2h9v-14z"></path><path d="M10 8l-5-4v2h-5v4h5v2z"></path></svg>
                         </a>

                     {% else %}
                         <a href="{{ path('fos_user_security_login') }}" class="loginLink">
                             <span>Sign in</span>
                             <svg class="loginIcon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16"><path d="M7 1v2l1 1v-2h7v12h-7v-2l-1 1v2h9v-14z"></path><path d="M10 8l-5-4v2h-5v4h5v2z"></path></svg>
                         </a>
                         <a href="{{ path('fos_user_registration_register') }}" class="loginLink">
                             <span>Sign up</span>
                             <svg class="loginIcon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 32 32"> <path d="M18 22.082v-1.649c2.203-1.241 4-4.337 4-7.432 0-4.971 0-9-6-9s-6 4.029-6 9c0 3.096 1.797 6.191 4 7.432v1.649c-6.784 0.555-12 3.888-12 7.918h28c0-4.030-5.216-7.364-12-7.918z"></path></svg>
                         </a>

                    {% endif %}


                </div>
                {% block body %}{% endblock %}

            </section>
        </div>

    {% endif %}
    </body>
</html>
