<div class="card customCard mb-0" id="comments-list">
    <div class="card-body body-bg border-0 comments
        {#{% if challenge.isPublic %}#}
            {#isPublic#}
        {#{% else %}#}
            {#isPrivate#}
        {#{% endif %}#}
    ">
        <div class="card-groupTitle">Comments</div>
        <div class="filterContainer">
            <input type="search" class="search" placeholder="Comment search..."/>
            <div>
                <button class="sort" data-sort="js-commentDate">date</button>
            </div>
        </div>
    </div>


    <ul class="list-group list-group-flush list">
        {% for comment in comments %}

            <li class="list-group-item d-flex align-items-center">

                <h5 class="card-subtitle customCard-subtitle d-flex justify-content-between align-items-center fz-1-1 mr-5">
                    <span class="js-user">{{ comment.user }}</span> <span class="w-75 js-commentText">{{ comment.text }}</span></h5>


                <div class="date-subtitle">
                            <span class="d-block">Posted on: <br>
                                <span class="js-commentDate">{{ comment.postedOn|date('Y-m-d') }}</span>
                            </span>
                </div>

            </li>
        {% endfor %}
        {% if comments|length == 0 %}
            <li class="list-group-item d-flex align-items-center">
                <h5 class="card-subtitle customCard-subtitle text-center">No comments has been added yet.</h5>
            </li>
        {% endif %}
    </ul>

    <div class="card-footer comments--1">
        <div class="challengeControlBlock">
            <a class="milestone-statusLink" href="{{ path('post_comment_form', {'id': challenge.id }) }}">
                <svg class="milestone-statusIcon">
                    <use xlink:href="{{ asset('images/sprite.svg#icon-commenting') }}"></use>
                    <span class="milestone-statusLabel">Comment</span>
                </svg>
            </a>
        </div>
        <ul class="pagination"></ul>
    </div>
</div>


