{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block content %}


    <div class="myChallenge-wrapper">
        <div class="formBlock">
            <div class="formHead">
                <h1 class="formTitle text-left">Edit Challenge</h1>
                <p class="formText mb-0">If you can dream it, you can do it!</p>
            </div>
            {{ form_start(form, {'method': 'post', 'action': path('edit_challenge', {'id': app.request.get('id') }), 'attr': {'class': 'edit_challenge_form'}}) }}

            {% include 'includes/formBody.html.twig' %}

            <div class="formFooter ">
                {#<a class="btn" href="{{ path('challenge_details', {'id': app.request.get('id')} }}"><< Back</a>#}
                <a href="{{ path('challenge_details', {'id': app.request.get('id')}) }}" class="btn"><< Back</a>
                <input class="btn" type="submit" iid="_submit" name="_submit" value="{{ 'Save' }}"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
