{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block content %}
    <h1>Edit Challenge:</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <a href="{{ path('delete_challenge', {'id': app.request.get('id')}) }}" class="btn btn-danger">Remove this challenge!</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
