{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.username }} - start new challenge!{% endblock %}

{% block content %}

    <div class="newChallenge__wrapper">
        <div class="formBlock">
            <div class="formHead">
                <h1 class="formTitle text-left">Start Challenge</h1>
                <p class="formText mb-0">If you can dream it, you can do it!</p>
            </div>
            {{ form_start(form, {'method': 'post', 'action': path('new_challenge_form'), 'attr': {'class': 'new_challenge_form'}}) }}

            <div class="formBody">
                <div class="formRow">
                    <div class="formLabel">
                        {{ form_label(form.Title) }}
                    </div>
                    <div class="formControl">
                        {{ form_widget(form.Title, { 'attr': {'class': 'formInput','autofocus': 'true','placeholder':'Give a title for your challenge' } }) }}
                        {{ form_errors(form.Title) }}
                    </div>
                </div>

                <div class="formRow mb-3">
                    <div class="formLabel">
                        {{ form_label(form.Description) }}
                    </div>
                    <div class="formControl">
                        {{ form_widget(form.Description, { 'attr': {'class': 'formInput','placeholder':'Short description (*optional)' } }) }}
                        {{ form_errors(form.Description) }}
                    </div>
                </div>

                <div class="formRow">
                    <div class="formLabel">
                        {{ form_label(form.Start_date) }}
                    </div>
                    <div class="formControl">
                        {{ form_widget(form.Start_date, { 'attr': {'class': 'formInput' } }) }}
                        {{ form_errors(form.Start_date) }}
                    </div>
                </div>

                <div class="formRow mb-3">
                    <div class="formLabel">
                        {{ form_label(form.End_date) }}
                    </div>
                    <div class="formControl">
                        {{ form_widget(form.End_date, { 'attr': {'class': 'formInput' } }) }}
                        {{ form_errors(form.End_date) }}
                    </div>
                </div>

                <div class="formRow">
                    <div class="formLabel">
                        {{ form_label(form.challengeGroup) }}
                    </div>
                    <div class="formControl">
                        {{ form_widget(form.challengeGroup, { 'attr': {'class': 'formInput' } }) }}
                        {{ form_errors(form.challengeGroup) }}
                    </div>
                </div>

                <div class="formRow">
                    <div class="formLabel">
                        {{ form_label(form.isPublic) }}
                    </div>
                    <div class="formControl">
                        {{ form_widget(form.isPublic, { 'attr': {'class': 'formInput' } }) }}
                        {{ form_errors(form.isPublic) }}
                    </div>
                </div>

                <div class="formRow">
                    <div class="formLabel">
                        {{ form_label(form.addProof) }}
                    </div>
                    <div class="formControl">
                        {{ form_widget(form.addProof, { 'attr': {'class': 'formInput' } }) }}
                        {{ form_errors(form.addProof) }}
                    </div>
                </div>
            </div>

            <div class="formFooter ">
                <input class="btn" type="submit" id="_submit" name="_submit"
                       value="{{ 'Start' }}"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}



